# Node-related
node_modules/
package-lock.json

# Electron build output (optional)
dist/
build/
*.log

# C++ build files
*.exe
*.out
*.obj

# OS files
.DS_Store
Thumbs.db

# Input/output simulation files (optional)
backend/input.txt
backend/output.txt
